body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#password-generator-app { 
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.password{ 
  padding: 10px 20px;
  margin-bottom: .5rem;
  border: solid 1px;
  font-size: 15px;
  text-align: center;
}

#password-generator { 
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  width: 30%;
  padding: 20px;
}

#inputs { 
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.label-input-divs { 
  display: flex;
  justify-content: space-between;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: .5rem;
}

#password-length-input { 
  display: flex;
  width: 35px;
  border: none;
  border: solid 1px;
  border-radius: 10px;
}

.button-div { 
  display: flex;
  justify-content: center;
}

.button { 
  border: none;
  padding: 10px 20px;
  text-align: center;
  transition-duration: 0.4s;
  font-size: 15px;
}

.button:hover { 
  cursor: pointer;
  background-color: #add8e6;
  color: #055671;
}

#password-strength-div { 
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

#password-strength-label { 
  font-size: 12px;
}